.header
{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 10px;
}
.education
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-bottom: 10px;
}