.header
{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 10px;
}
#educationHeader
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
}