.header
{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 10px;
}
.educationInfo
{
    text-align: right;
    padding-right: 20px;
}
#educationHeader
{
    text-align: left;
}
