.header
{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 10px;
}
.educationInfo
{
    text-align: right;
    margin-left: -200px;
}
#educationHeader
{
    text-align: left;
}
h2
{
    text-decoration: underline;
}
h4
{
    text-decoration: underline;
}
